/* General */

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	font-size: 16px;
	background: #eeeded;
	text-align: center;
}

p {
	margin: 0;
}

img {
	display: block;
}

img, input[type="image"] {
	max-width: 100%;
}

#wrapper {
	max-width: 87.5em;
}

#container {
	max-width: 40em;
	width: 100%;
	margin: 0 auto;
}

/* Upload Form */

h1 {
	font-size: 3.75em;
	padding-top: 42px;
	margin: 0 auto 7px;
}

h2 {
	font-size: 1.875em;
	font-weight: lighter;
	margin: 0 auto 30px;
}

input[type="text"] {
	font-weight: bold;
	color: #333;
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 3px solid #333333;
	background: transparent;
}

#upload-content{
	color: #333;
	max-width: 34.25em;
	margin: 0 auto;
	font-family: "HelveticaNeue", Arial;
}

.input-fields {
	font-size: 4.0625em;
	font-weight: bold;
	margin: 21px 0 38px 0;
}

.pre-description {
	display: inline-block;
	float: left;
	margin-top: 10px;
}

input.description {
	padding: 0 0 0 8px;
	max-width: 6.75em;
	font-family: "HelveticaNeue", Arial;
  background: url('../img/dot.jpg') no-repeat 100% 95%;
}

/* Stream */

#stream img {
  margin-bottom: 80px;
}

.image-container {
  position: relative;
}

.gradient {
  position: absolute;
  top: 0;
}

.logo {
  position: absolute;
  top: 0;
  right: 17px;
}

.caption {
  position: absolute;
  bottom: 0;
  padding: 0 0 27px 31px;
  max-width: 40em;
  width: 100%;
  font-family: "Gotham";
  font-size: 34px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #ffffff;
}

.caption p:first-child {
  margin-bottom: 5px;
}

/* Fonts */

.letter-spacing {
	letter-spacing: -0.05em;
}

.akzidenz {
	font-family: "Akzidenz";
	font-weight: bold;
	margin: 17px 0 43px 0;
}